body{
  background-color: red;
}

body{
  background-color: rgba(93, 187, 211, 0.789);
}
.hero{
  background-color: red;
  color: aqua;
}
#link{
background-color: rgb(206, 160, 21);
  color: blueviolet;
}

.header{
  background-color: violet;
  display: flex;
  justify-content: center;


}

div{

  background-color: green;
}

